<template name="_footer">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
          <div class="row">
              <div class="col col-xs-6">
                  <button class="btn btn-block btn-primary"  id="profileBtn">
                      <i class="fa fa-user fa-2x pull-left"></i>
                      My Profile
                  </button>
              </div>
              <div class="col col-xs-6">
                  <button  class="btn btn-block btn-primary" id="createBtn">
                      <i class="fa fa-plus fa-2x pull-left"></i> Create Team
                  </button>
              </div>
          </div>
        </div>
    </nav>
</template>
