<template name="_header">
{{#unless currentUser}}
        <div class="page-header text-center">
            <a href="{{ pathFor 'home' }}">
                <img src="/logo.png" alt="gitimdlogo" height="100"/>
            </a>
        </div>
  {{else}}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container nav-top">
            <a href="{{ pathFor 'home' }}" class="mini-logo">
                <img src="/logo.png" alt="gitimdlogo" height="40"/>
            </a>
            <span class="pull-right">
                <a href="#" data-action="logout" id="logoutBtn">
                    <i class="fa fa-sign-out fa-2x"></i>
                </a>
            </span>

        </div>
    </nav>
{{/unless}}
</template>
