body{
  height: 100vh;
  background-color: #659CCE;
  padding-bottom: 5rem;
  //padding-top: 5rem; // in case we want a fixed header
  .container{
    background-color: #659CCE;
  }

}
#mainContainer{
  height: 80vh;
}

//header
.navbar{
  min-height: 3.5rem;
  margin-bottom: 0;
}
.page-header{
  margin-top: 0;
}
.navbar-default{
   .nav-top{
     background-color: #84B5DA;
   }
  .mini-logo{
    margin: 0;
    margin-left: -1rem;
  }
  #logoutBtn{
    .fa{
      margin-top: 0.5rem;
    }
    color: @brand-primary;
  }
}


//footer
.navbar-fixed-bottom{
  border: none;
  button{
    font-size: 1rem;
  }
}

//modal
.anti-modal-box {
  display: block;
  width: 100%;
  min-height: 50px;
  margin: 0;
  background:#659CCE;
  .anti-modal-title{
    text-align: center;
    font-weight: bold;
    color: @brand-primary;
  }
}
.anti-modal-overlay {
  overflow-y: initial;
  overflow-x: hidden;
}


//swiper

.swiper-container {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80vw;
  .panel{
    border: 0;
    height: 95%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    .img-rounded{
      //width: 85%;
    }
   .panel-heading{
     padding-top: 15px;
     background-color: #1e5a87;
     .panel-title{
       color: white;
     }
   }
    .panel-body{
      padding-bottom: 0;

    }
    .team-description{
      padding: 15px;
      background-color:#DDEFF9;
      color: #1D3E56;
      height: 10rem;
      overflow: hidden;
      text-align: left;
    }
    .panel-footer{
      .row-action{

        margin-bottom: 1.5rem;
      }
      background-color: white;
      hr{
        margin: 1rem;
        height: 3px;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(30, 90, 135, 0.7), rgba(0, 0, 0, 0));
      }
      font-size: 1rem;
      text-align: left;
      b{
        text-transform: uppercase;
      }
      .keywords{
        //background-color: #f5f5f5 ;
        padding-top: 1.5rem;
      }
    }

  }
  .team-panel{
    height: 80vh;
    .progress{
      font-size: 1rem;
      height: 1.5rem;
      margin-top: 0.5rem;
      background-color: #CFCFCF;
      margin-bottom: 10px;
      .progress-bar{
        line-height: 15px;
      }
    }
    .train{
      padding-left: 1rem;
      .fa{
        color: @brand-primary;
        margin-left: -5px;
      }
      .fa-subway{
        margin-top: 3px;
        font-size: 2rem;
        z-index: 10;
      }
    }
  }

}

//form
.at-form{
  margin-top: 0;
}