<template name="home">
{{#unless currentUser}}
  {{>landingPage}}
{{else}}
  {{>locateEvent}}
{{/unless}}
</template>

<template name="landingPage">
  <div class="template-home">
    <div class="col col-xs-12" id="landingIntro">
      <div class="well text-center">
        Try Giti.md app to get teamed up! Fun and easy to find team mates and join projects
        <br/>
        <em><img src="/mascot.png" alt="mascot" height="35"/> Tchou Tchou </em>
      </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <a href="{{ pathFor 'atSignIn' }}" class="btn btn-block btn-default navbar-btn sign-in">Sign in</a>
      </div>
    </nav>
  </div>
</template>

<template name="locateEvent">
  <div class="row">
      <!-- Swiper -->
      <div class="swiper-container">
          <div class="swiper-wrapper">
              {{#each teams}}
                      <div class="swiper-slide">
                        {{>teamCard}}
                      </div>
              {{else}}
                  <h4 class="text-center">No teams submitted yet.</h4>
              {{/each}}
          </div>
          <!-- Add Pagination -->
          <!--<div class="swiper-pagination"></div>-->
      </div>
  </div>
</template>

<template name="teamCard">
    <div class="col-xs-12 text-center team-panel">
        <div class="panel panel-default">
            <div class="row teamVisualInfo">
                <div class="col col-xs-6">
                   <span class="train pull-left">
                        <i class="fa fa-subway"></i>
                        <i class="fa fa-battery-full"></i>
                        <i class="fa fa-battery-empty"></i>
                        <i class="fa fa-battery-empty"></i>
                   </span>
                </div>
                <div class="col col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title"><a href="/teams/{{_id}}"><b>{{ name }}</b></a></h3>
            </div>
            <div class="panel-body text-left">

                <div class="row text-center team-description">
                        {{ description }}
                </div>

            </div>
            <div class="panel-footer">

              <div class="row">

                  <div class="col col-xs-6">
                      <img src="http://lorempixel.com/100/100/city" class="img-rounded" height="60" />
                  </div>
                  <div class="col col-xs-6">

                      <b>Members</b>:&nbsp;<span class="badge">{{membersCount}}</span>
                      <hr/>
                      <b>Watchers</b>:&nbsp;<span class="badge">{{watchersCount}}</span>

                  </div>
                  <hr/>
              </div>
               <div class="col-xs-12 text-center">
                   <br/>
                   <b>Keywords</b><br/>
                   {{#each keywords}}
                       <span class="label label-primary">{{this}}</span>
                   {{else}}
                       No keywords
                   {{/each}}
               </div>
            </div>
        </div>
    </div>
</template>
