<template name="teams">
  <div class="template-profile">
    <div class="page-header">
      <h1>Team</h1>
    </div>
      {{#autoForm collection="Teams" doc=currentTeam id="editTeam" type="update"}} <!-- autosave=true autosaveOnKeyup=true trimStrings=false}} -->
      <fieldset>
        {{> afQuickField name="name"}}
        {{> afQuickField name="description" rows=2}}
        {{> afQuickField name="keywords" multiple="multiple" options=s2Opts label="Key competencies tags"}}
        <div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
      </fieldset>
      {{/autoForm}}
 
    <ul class="list-group">
      <br>
      <br>
      {{#each users}}
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a href="/profile/{{username}}"><b>{{ username }}</b></a></h3>
              </div>
              <div class="panel-body text-left">
                {{ profile.bio }}
              </div>
              <div class="panel-footer">
                <b>Teams</b>:&nbsp;
                {{#each memberOf}}
                <span class="label label-primary">{{name}}</span>
                {{else}}
                Not member of any team
                {{/each}}
                <br><b>Keywords</b>:&nbsp;
                {{#each keywords}}
                <span class="label label-primary">{{this}}</span>
                {{else}}
                No keywords
                {{/each}}
              </div>
            </div>
          </div>
      {{else}}
      <h4>No participants yet.</h4>
      {{/each}}
    </ul>

  </div>
</template>
