<template name="profile">
  <div class="template-profile">
      {{#autoForm collection=usersCollection doc=currentUser id="editUserProfile" type="update"}} <!-- autosave=true autosaveOnKeyup=true trimStrings=false}} -->
      <fieldset>
	<div class="row">
	  <div class="col-lg-6">
            {{> afQuickField name="username"}}
	  </div>
	  <div class="col-lg-6">
            {{> afQuickField name="emails.0.address" label="E-mail"}}
	  </div>
	</div>
<!--
        {{> afQuickField name="profile.firstName"}}
        {{> afQuickField name="profile.lastName"}}
        {{> afQuickField name="profile.gender" options="allowed"}}
-->
        {{> afQuickField name="profile.bio" rows=2}}
        {{> afQuickField name="keywords" multiple="multiple" options=s2Opts label="Key competencies tags"}}

        <div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
      </fieldset>
      {{/autoForm}}

    <ul class="list-group">
      <br>
      <br>
      <div class="row">
	<div class="col-lg-8 text-center">
	  {{#each teams}}
	  <li class="list-group-item"><a href="/teams/{{_id}}">{{ name }}</a> </li>
	  {{else}}
	  <h4>No teams submitted yet.</h4>
	  {{/each}}
	</div>
	<div class="col-lg-4 text-right">
	  <input type="text" class="newTeamName"><br>
	  <span class="text-danger err"></span><br>
          <button class="btn btn-success addTeam">+ CREATE OWN TEAM</button>
	</div>
      </div>
    </ul>

  </div>
</template>

<template name="profileModal">
    <div class="anti-modal-box">
        <div class="anti-modal-header">
            <div class="anti-modal-title">
                Profile
            </div>
            <div class="anti-modal-closer">&times;</div>
        </div>
        <div class="anti-modal-body">
            {{>profile}}
        </div>
    </div>
</template>