<template name="profile">
  <div class="template-profile">

    {{#if ifOwner}}
          <div class="row">
              <div class="col-xs-12 text-center">
                  <img src="http://lorempixel.com/100/100/people" class="img-rounded"><br>
                  <button class="btn btn-success">Add avatar</button>
              </div>
            <div class="col-xs-12">
      {{#autoForm collection=usersCollection doc=currentUser id="editUserProfile" type="update"}} <!-- autosave=true autosaveOnKeyup=true trimStrings=false}} -->
          <fieldset>
            <div class="row">
              <div class="col-lg-6">
                    {{> afQuickField name="username"}}
              </div>
              <div class="col-lg-6">
                    {{> afQuickField name="emails.0.address" label="E-mail"}}
              </div>
            </div>
            <!--
            {{> afQuickField name="profile.firstName"}}
            {{> afQuickField name="profile.lastName"}}
            {{> afQuickField name="profile.gender" options="allowed"}}
            -->
            {{> afQuickField name="profile.bio" rows=2}}
            {{> afQuickField name="keywords" multiple="multiple" options=s2Opts label="Key competencies tags"}}

            <div>
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          </fieldset>
          {{/autoForm}}
            </div>

          </div>
 
 
      {{else}}
          <div class="row">
            <div class="col-xs-8">

          <h2>{{currentUser.username}}</h2>
          <blockquote>{{currentUser.profile.bio}}</blockquote><br>
          <b>Key competencies</b>:&nbsp;
      {{#each currentUser.keywords}}
          <span class="label label-primary">{{this}}</span>
      {{else}}
          No keywords
      {{/each}}
            </div>
            <div class="col-xs-4">
              <img src="http://lorempixel.com/100/100/people" class="img-rounded"><br>
            </div>
          </div>
      
      {{/if}}
  </div>
</template>

<template name="profileModal">
    <div class="anti-modal-box">
        <div class="anti-modal-header">
            <div class="anti-modal-title">
                Profile
            </div>
            <div class="anti-modal-closer">&times;</div>
        </div>
        <div class="anti-modal-body">
            {{>profile}}
        </div>
    </div>
</template>
